node_modules
dist
dist-ssr
*.local
.env.local
.env.*.local
coverage
playwright-report
test-results
blob-report
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.log
supabase/.branches
supabase/.temp
supabase/.env
.wrangler
